<!DOCTYPE html>

{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" /> {% endcomment %}
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Evoting - Vote Well</title>
</head>
<body>

     <!-- Responsive navbar-->
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-lg-5">
            <a class="navbar-brand" href="{% url 'index'  %}">CodeNest</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  
                 
                    {% if request.user.is_authenticated %}

                    <li class="nav-item"><a class="nav-link" href="#"><button class="btn btn-primary">Hi, {{request.user.username}}</button></a></li>

                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><button class="btn btn-secondary">Logout</button></a></li>
                    
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'signin' %}"><button class="btn btn-primary">Login</button></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}"><button class="btn btn-primary">SignUp</button></a></li>
                    
                    {% endif %}
                    

           
                  
                  
                   
                    
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    
    {% endblock content %}


     <!-- Footer-->
     <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>