{% extends 'base.html' %}


{% block content %}


<!-- Header-->
<header class="py-5">
    <div class="container-fluid px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Vote your Favourite Tool</h1>
                <p class="fs-4">It's time to celebrate the tools that power our digital dreams. Cast your vote for your favorite programming language, frameworks, and databases 
                    that have been your trusted companions in crafting incredible software.
                     Your voice matters in recognizing the building blocks of innovation.</p>
                <a class="btn btn-primary btn-lg" href="#votingSection">Let's vote</a>
            </div>
        </div>
    </div>
</header>
<!-- Page Content-->
<section class="pt-4" id="votingSection">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">

            
            
            
            {% for category in categories  %}

            <div class="col-lg-4 col-xxl-3 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                        <h2 class="fs-4 fw-bold">{{category.title}}</h2>
                        <p class="mb-0">{{category.description | truncatechars:100}}</p>
                    </div>
                    <a class="btn btn-primary btn-lg" href="{% url 'detail' category.slug  %}">Vote</a>
                </div>
            </div>

          
                
            {% endfor %}
                

            
                

          


        

        </div>
    </div>
</section>




{% endblock content %}

