{% extends 'base.html' %}


{% block content %}

<div class="formContainer">
    <form class="signupForm" action="" method='POST'>
  <h4>Login</h4>

  {% if msg != "" %}
  <div class="alert alert-danger" role="alert">
    {{msg}}
  </div>
  {% endif %}

        {% csrf_token %}

        {% if request.GET.next %}

        <input type="hidden" name="next" value={{request.GET.next}}>
        
        {% endif %}
        
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" placeholder="Enter Username">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Enter Password">
          </div>


          <button class = 'btn btn-primary'>Login</button>
          <p style="text-align:center">Don't have an account? <a href="{% url 'signup' %}">Signup</a></p>
    </form>
</div>
    
{% endblock content %}
    

     